<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<!--      
		table information
		Generate time : 2017-01-12 15:02:08
   		Version :  1.0.5.V201701121455
		tableName :${platSchema}.fui_page_info 
	 		REC_CREATOR  VARCHAR   NOT NULL, 
	 		REC_CREATE_TIME  VARCHAR   NOT NULL, 
	 		REC_REVISOR  VARCHAR   NOT NULL, 
	 		REC_REVISE_TIME  VARCHAR   NOT NULL, 
	 		ARCHIVE_FLAG  VARCHAR   NOT NULL, 
	 		FORM_ENAME  VARCHAR   NOT NULL   primarykey, 
	 		FORM_CNAME  VARCHAR   NOT NULL, 
	 		FORM_LOAD_PATH  VARCHAR   NOT NULL, 
	 		FORM_TYPE  VARCHAR   NOT NULL, 
	 		MODULE_ENAME_1  VARCHAR   NOT NULL, 
	 		MODULE_ENAME_2  VARCHAR   NOT NULL, 
	 		IS_AUTH  VARCHAR   NOT NULL, 
	 		FORM_PARAM  VARCHAR   NOT NULL
	-->
<mapper namespace="com.fui.dao.page.PageInfoMapper">
	<select id="query" parameterType="java.util.HashMap" 
			resultType="com.fui.model.Page">
		SELECT
				REC_CREATOR	as "recCreator",  
				REC_CREATE_TIME	as "recCreateTime",  
				REC_REVISOR	as "recRevisor",  
				REC_REVISE_TIME	as "recReviseTime",  
				ARCHIVE_FLAG	as "archiveFlag",  
				FORM_ENAME	as "formEname",  
				FORM_CNAME	as "formCname",  
				FORM_LOAD_PATH	as "formLoadPath",  
				FORM_TYPE	as "formType",  
				MODULE_ENAME_1	as "moduleEname1",  
				MODULE_ENAME_2	as "moduleEname2",  
				IS_AUTH	as "isAuth",  
				FORM_PARAM	as "formParam" 
		FROM ${platSchema}.fui_page_info WHERE 1=1
		<if test="formEname != null and formEname != ''">
        	AND FORM_ENAME = #{formEname}
        </if>
 		<if test="orderBy != null and orderBy != ''">
	  		ORDER BY #{orderBy}
	 	</if>
		<if test="orderBy == null or orderBy == ''">
    		ORDER BY FORM_ENAME asc
		</if>
	</select>

	<select id="count" resultType="int">
		SELECT COUNT(*) FROM ${platSchema}.fui_page_info WHERE 1=1
		<if test="formEname != null and formEname != ''">
			AND FORM_ENAME = #{formEname}
		</if>
	</select>
	
	<!--  
		<if test="recCreator != null and recCreator != ''">
			AND REC_CREATOR = #{recCreator}
		</if>
		<if test="recCreateTime != null and recCreateTime != ''">
			AND REC_CREATE_TIME = #{recCreateTime}
		</if>
		<if test="recRevisor != null and recRevisor != ''">
			AND REC_REVISOR = #{recRevisor}
		</if>
		<if test="recReviseTime != null and recReviseTime != ''">
			AND REC_REVISE_TIME = #{recReviseTime}
		</if>
		<if test="archiveFlag != null and archiveFlag != ''">
			AND ARCHIVE_FLAG = #{archiveFlag}
		</if>
		<if test="formEname != null and formEname != ''">
			AND FORM_ENAME = #{formEname}
		</if>
		<if test="formCname != null and formCname != ''">
			AND FORM_CNAME = #{formCname}
		</if>
		<if test="formLoadPath != null and formLoadPath != ''">
			AND FORM_LOAD_PATH = #{formLoadPath}
		</if>
		<if test="formType != null and formType != ''">
			AND FORM_TYPE = #{formType}
		</if>
		<if test="moduleEname1 != null and moduleEname1 != ''">
			AND MODULE_ENAME_1 = #{moduleEname1}
		</if>
		<if test="moduleEname2 != null and moduleEname2 != ''">
			AND MODULE_ENAME_2 = #{moduleEname2}
		</if>
		<if test="isAuth != null and isAuth != ''">
			AND IS_AUTH = #{isAuth}
		</if>
		<if test="formParam != null and formParam != ''">
			AND FORM_PARAM = #{formParam}
		</if>
	-->

	<insert id="insert">
		INSERT INTO ${platSchema}.fui_page_info 
		(
			REC_CREATOR,
			REC_CREATE_TIME,
			REC_REVISOR,
			REC_REVISE_TIME,
			ARCHIVE_FLAG,
			FORM_ENAME,
			FORM_CNAME,
			FORM_LOAD_PATH,
			FORM_TYPE,
			MODULE_ENAME_1,
			MODULE_ENAME_2,
			IS_AUTH,
			FORM_PARAM
		)		 
		VALUES (#{recCreator}, #{recCreateTime}, #{recRevisor}, #{recReviseTime}, #{archiveFlag}, #{formEname}, #{formCname}, #{formLoadPath}, #{formType}, #{moduleEname1}, #{moduleEname2}, #{isAuth}, #{formParam})
	</insert>
  
	<delete id="delete">
		DELETE FROM ${platSchema}.fui_page_info 
		WHERE 
		FORM_ENAME = #{formEname}
	</delete>

	<update id="update">
		UPDATE ${platSchema}.fui_page_info 
		SET 
			REC_CREATOR	= #{recCreator}, 
			REC_CREATE_TIME	= #{recCreateTime}, 
			REC_REVISOR	= #{recRevisor}, 
			REC_REVISE_TIME	= #{recReviseTime}, 
			ARCHIVE_FLAG	= #{archiveFlag}, 
			FORM_CNAME	= #{formCname}, 
			FORM_LOAD_PATH	= #{formLoadPath}, 
			FORM_TYPE	= #{formType}, 
			MODULE_ENAME_1	= #{moduleEname1}, 
			MODULE_ENAME_2	= #{moduleEname2}, 
			IS_AUTH	= #{isAuth}, 
			FORM_PARAM	= #{formParam}
		WHERE 	
		FORM_ENAME = #{formEname}
	</update>
  
</mapper>