<?xml version="1.0" encoding="UTF-8"?>
<beans default-lazy-init="false"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <!-- 此文件配置Shiro权限相关bean，通过ContextLoaderListener加载 -->

    <!-- 自定义Realm -->
    <bean id="fuiRealm" class="com.fui.shiro.FuiRealm">
        <!-- 授权信息开启缓存，以免多次重复访问数据库 -->
        <property name="authorizationCachingEnabled" value="true"/>
    </bean>

    <!-- EhCache缓存管理器 -->
    <bean id="cacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
        <property name="cacheManagerConfigFile" value="classpath:conf/shiro-ehcache.xml"/>
    </bean>

    <!-- 自定义permissionResolver -->
    <bean id="permissionResolver" class="com.fui.shiro.FuiPermissionResolver"/>

    <!-- authorizer -->
    <bean id="authorizer" class="org.apache.shiro.authz.ModularRealmAuthorizer">
        <property name="permissionResolver" ref="permissionResolver"/>
    </bean>

    <!-- 安全管理器 -->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="authorizer" ref="authorizer"/>
        <property name="realm" ref="fuiRealm"/>
        <property name="cacheManager" ref="cacheManager"/>
    </bean>

    <!-- 自定义拦截器 -->
    <bean id="fuiAuthcFilter" class="com.fui.shiro.FuiFormAuthenticationFilter">
        <property name="loginSubmitUrl" value="/supervisor/login"/>
    </bean>
    <bean id="fuiPermsFilter" class="com.fui.shiro.FuiPermsFilter"/>

    <!-- shiro入口过滤器 -->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"/>
        <property name="loginUrl" value="/login.jsp"/>
        <property name="unauthorizedUrl" value="/supervisor/unAuthorized"/>
        <property name="filters">
            <map>
                <entry key="fuiAuthc" value-ref="fuiAuthcFilter"/>
                <entry key="fuiPerms" value-ref="fuiPermsFilter"/>
            </map>
        </property>
        <property name="filterChainDefinitions">
            <value>
                /supervisor/image = anon
                /supervisor/login = anon
                /supervisor/calendar = anon
                /supervisor/default = anon
                /supervisor/pact = anon
                /supervisor/timeout = anon
                /supervisor/unAuthorized = anon
                /supervisor/EiService = anon
                /supervisor/destroy = logout
                /supervisor/** = fuiAuthc, fuiPerms
            </value>
        </property>
    </bean>

</beans>